.header {
    height: 12.5rem;
    background-color: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo {
    height: 3rem;
}

.todo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.to {
    color: var(--blue);
} 

.do {
    color: var(--purple-dark);
}