:root {
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;

  --purple: #8284FA;
  --purple-dark: #5E60CE;

  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;
  --gray-800: #1E1E1E;

  --danger: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-800);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}